    .populartable, .moodgrid {
        width: 49%;
        margin-top: 50px;
    }

    .populartable, .moodgrid {
        text-align: left;
        position: relative;
        float: left;
        display: inline-grid;
    }

    .featuredcarousel {
        text-align: left;
        display: grid;
    }

    span.btitle {
        color: #8592c7;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .populartable {
        margin-right: 2%;
    }

    .discover-page {
        padding: 2rem;
    }