.sidebar {
    /* position: fixed; */
    min-width: 200px;
    max-width: 320px;
    /* width: 25%; */
    /* height: 100vh; */
    flex: 1 1 100%;
    z-index: 11;
    /* max-width: 300px; */
    /* overflow: auto;
    
    background: #312450;
    font-size: 0.65em; */
}

.header {
    float: right;
    width: 100%;
    position: fixed;
    /* right: -168px; */
    padding-left: 350px;
    z-index: 10;
    flex: 1 1 auto;
}

.suggestions {
    /* border-top: 2px solid #999; */
    width: 40%;
    float: left;
    text-align: left;
    margin: 10px auto;
    background: rgba(4, 15, 36, 0.884);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 4px 4px rgba(0, 0, 0, 0.2);
}

.suggestions>div {
    padding: 15px;
    font-size: 20px;
    color: #fff;
    border-top: 1px solid #666;
    cursor: pointer;
}

.suggestions>div:hover {
    background-color: #3c559e86;
}

.nav {
    /* position: relative; */
    /* margin: 0 5%; */
    position: fixed;
    text-align: left;
    overflow: auto;
    /* background: #312450; */
    height: 100vh;
    background: #0f141d;
    font-size: 0.65em;
    /* font-weight: bold;
    position: relative;
    margin: 0 5%;
    text-align: left;
    /* top: 50%;
  transform: translateY(-50%); */
    /* font-weight: bold; */
}

span.flaticon-paragraph-left-alignment-symbol-for-interface::before {
    font-size: 12px;
}

.nav ul {
    list-style: none;
    padding-left: 0px;
}

.nav ul li {
    position: relative;
    margin: 3.2em 0;
}

.nav ul li a {
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(255, 255, 255, 0.65);
    display: block;
    transition: all ease-out 300ms;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
    display: inline-block;
}

.nav ul li a.active a {
    color: white;
    transition: all ease-out 300ms;
}

.nav ul li a:not(.active)::after {
    opacity: 0.2;
    transition: all ease-out 300ms;
}

.nav ul li a:not(.active):hover a {
    color: rgba(255, 255, 255, 0.75);
    transition: all ease-out 300ms;
}

.nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    transition: all ease-out 300ms;
}

.playlist {
    padding-left: 8%;
}

.playlist li {
    margin: 0!important;
    padding-left: 20px;
}

li.playlists a::after {
    display: none;
}

.playlist li::after {
    height: 0.05em!important;
}

.playlist li a {
    text-transform: none!important;
    line-height: 4em!important;
}

.inputField input {
    width: 90%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #5e42a6;
    transition: all 0.3s ease;
}

.inputField input:focus {
    border-color: #8E49E8;
}

.inputField button {
    min-width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin: 0;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #8E49E8;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.inputField button:hover, .footer button:hover {
    background: #721ce3;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.inputField {
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}

.ptitle {
    margin-bottom: 0!important;
}