img.bimage {
    position: absolute;
    filter: blur(15px);
    z-index: 99999;
}

span.bimage {
    filter: blur(10px) brightness(0.5) grayscale(25%);
    position: absolute;
    z-index: -1;
    left: 0;
    width: 260px;
    height: 260px;
}

span.bimage img {
    /* height: 100%; */
    width: 260px;
    height: 260px;
    /* width: 100%; */
    object-fit: cover;
}

.image {
    height: 260px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.image>img {
    display: block;
    /* margin-top: auto; */
    width: inherit;
    /* margin-bottom: auto; */
}

.card {
    text-align: left;
    color: white;
    padding-right: 16px;
}

/* .card.title {
    color: white;
} */

span.title {
    font-size: 19px;
    width: 260px!important;
}

span.subtitle {
    color: #8592c7;
}

.carousel {
    display: -webkit-inline-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    overflow-x: scroll;
    width: 100%;
}

span.subtitle, span.title {
    /* color: #8592c7; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    display: inline-block;
}

/* .carousel {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
} */

/* .carousel.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
} */