img.bimage {
    position: absolute;
    filter: blur(15px);
    z-index: 99999;
}

span.bimage {
    filter: blur(10px) brightness(0.5) grayscale(25%);
    position: absolute;
    z-index: -1;
    left: 0;
    width: 260px;
    height: 260px;
}

.banner {
    display: flex;
    height: 400px;
    overflow: hidden;
}

.banner-content {
    position: absolute;
    z-index: 9;
    padding-top: 80px;
    width: 100%;
    display: inline-flex;
    padding-left: 2%;
}

.tt {
    align-self: end;
    display: grid;
}

span.ttitle {
    padding-left: 1pc;
    padding-top: 3px;
}

.tt span {
    padding-top: 1pc;
    padding-left: 1pc;
}

.contitle {
    display: grid;
    text-align: left;
    color: white;
    width: auto;
}

span.ptitle {
    font-size: 50px;
    font-weight: bold;
}

span.bannerimage {
    /* position: absolute; */
    width: 100%;
    position: relative;
    filter: blur(35px) brightness(0.66);
}

span.bannerimage img {
    width: 100%;
    /* height: 300px; */
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    position: absolute;
    margin: auto;
    margin-top: auto;
    min-height: -webkit-fill-available;
}

span.bimage img {
    /* height: 100%; */
    width: 260px;
    height: 260px;
    /* width: 100%; */
    object-fit: cover;
}

.image {
    height: 260px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    z-index: 9;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.image>img {
    display: block;
    /* margin-top: auto; */
    width: inherit;
    /* margin-bottom: auto; */
}

.card {
    text-align: left;
    color: white;
}

/* .card.title {
    color: white;
} */

span.title {
    font-size: 19px;
}

span.subtitle {
    color: #8592c7;
}